@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
:root {
  --line-border-fill: #ff4d6d;
  --line-border-empty: #dee2e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}
.container {
  text-align: center;
  /* background-color: burlywood; */
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  width: 350px;
  max-width: 100%;
  /* background-color: magenta; */
}

.progress-container::before{
     content:"";
     background-color: var(--line-border-empty);
     height: 4px;
     width: 100%;
     position: absolute;
     top: 50%;
     left:0;
     transform: translatY(-50%);
     z-index: -1;
     transition:0.4s ease ;

}
.progress{
     background-color: var(--line-border-fill);
     height: 4px;
     width: 20%;
     position: absolute;
     top: 50%;
     left: 0;
     transform: translateY(-50%);
     z-index: -1;
     transition: 0.4s ease;
}
